/*==========HERO==========*/
#hero {
    background-image: url('../img/trackman_hero3.jpg');
    background-position: top center;
    background-size: cover;
}

#hero h1 {
    display: none;
}

#main-content {
    padding: 2%;
}

#main-content img {
    display: block;
    margin: 10px auto;
    max-width: 250px;
    transition: 0.5s;
}

.professionals {
    clear: both;
}

img:hover {
    box-shadow: 5px 5px 20px #000;
    transform: scale(1.1);
}