header {
    z-index: 1000;
}

#newsletter {
    display: block;
    position: relative;
    top: 49px;
    margin-bottom: 59px;
}

#map {
    float: left;
    width: 50%;
    text-align: center;
}

#map iframe {
    margin: 2%;
    height: 300px;
}


#map h4 span {
    color: #ff9000;
}

#form {
    float: right;
    width: 48%;
}

#form iframe {
    margin-right: 2%;
}

.container {
    height: 700px;
    display: block;
    position: relative;
}