/*==========HEADER==========*/
header {
    z-index: 1000;
}

/*==========NEWSLETTER==========*/
#newsletter {
    display: block;
    position: relative;
    top: 49px;
    margin-bottom: 59px;
}

/*==========MAIN==========*/
#map {
    float: left;
    width: 48%;
    text-align: center;
}

#map h2 {
    margin-left: 5%;
}

#map iframe {
    margin: 0 2%;
    height: 300px;
    width: 100%;
}

#map h4, #map address {
    margin-left: 5%;
}

#map h4 span a {
    color: #ff9000;
}

#form {
    float: right;
    width: 48%;
    margin-right: 1.5%;
    background-color: #9EA3B0;
}

#main-content h2 {
    background-color: #0D1F2D;
}

#form iframe {
    margin-right: 2%;
}

.container {
    height: 700px;
    display: block;
    position: relative;
}

/*==========MEDIA QUERIES===========*/
@media only screen and (max-width: 800px) {
    .container {
        height: 1105px;
    }
    
    #map {
        width: 96%;
    }
    
    #form {
        width: 96%;
    }
    
    #form h2 {
        padding-top: 10px;
        border-top: 2px solid rgba(255, 255, 255, 0.5);
    }
}