/*==========TABLE MEDIA QUERIES==========*/
@media only screen and (max-width: 768px) {
    /*==========HEADER==========*/
    nav {
        width: 50%;
    }
    
    /*==========HERO==========*/
    #hero {
        height: 300px;
    }
    
    #hero h1 {
        font-size: 36px;
        top: 45%;
    }
    /*==========NEWSLETTER==========*/
    #newsletter h4{
        width: 57.5%;
        font-size: 18px;
        padding-left: 1%;
    }
    
    #newsletter span {
        padding-left: 2%;
        font-size: 12px;
    }
    
    #newsletter form {
        width: 38.5%;
        float: right;
        padding: 10px 0;
    }
    
    #newsletter form input{
        border: 2px inset #000;
        width: 60%;
        line-height: 20px;
    }
    
    #newsletter button {
        margin-left: 10px;
    }
    
    /*==========ASIDE==========*/
     aside {
        /*clear: both;*/
        height: 685px;
    }
    
    #testimonials-header {
        font-size: 24px;
    }
    
    aside .testimonials {
        float: none;
        width: 95%;
        background-color: #0D1F2D;
        margin: 10px 0.5%;
        text-align: center;
        padding: 10px 2%;
        border-radius: none;
    }
    
    #testimonials div img {
        float: left;
        width: 175px;
        height: 135px;
        margin-right: 2%;
    }
    
    #testimonials div blockquote {
        padding-top: 20px;
    }
    
    blockquote + h4 {
        clear: both;
        text-align: right;
        padding-right: 5%;
    }
}

/*==========PHONE MEDIA QUERIES==========*/
@media only screen and (max-width: 600px) {
    /*==========UNIVERSALS==========*/
    
    a:link, a:visited {
        color: #fff;
    }
    
    .current a{
        color: #ff9000;
    }
    
    li {
        list-style-type: none;
    }
    
    li:hover {
        background-color: #0D1F2D;
        box-shadow: none;
    }

    /*==========HEADER==========*/
    header {
        width: 100%;
        display: block;
        position: relative;
        border-bottom: 4px solid #ff9000;
        height: auto;
        background-color: #546A7B;
    }
    
    #brand {
        float: none;
        display: block;
        width: 100%;
        border-bottom: 4px solid #ff9000;
    }
    
    #brand h2 {
        font-family: 'Overpass Mono', monospace;
        text-align: center;
        padding: 4px;
    }
    
    #hamburger {
        display: inline-block;
    }
    
    nav {
        text-align: center;
        float: none;
        width: 100%;
    }
    
    nav > ul > li {
        margin: 0;
        display: block;
        padding: 10px 0;
        background-color: #0D1F2D;
    }
    
    /*==========HERO==========*/
    #hero {
        display: none;
    }
    
    /*==========NEWSLETTER==========*/
    #newsletter {
    display: none;
    height: 50px;
    background-color: #0D1F2D;
    }
    
    #newsletter h4 {
        width: 57.5%;
        font-size: 18px;
        padding-left: 1%;
    }
    
    #newsletter span {
        padding-left: 2%;
        font-size: 12px;
    }
    
    #newsletter form {
        width: 38.5%;
        float: right;
        padding: 10px 0;
    }
    
    #newsletter form input{
        border: 2px inset #000;
        width: 60%;
        line-height: 20px;
    }
    
    #newsletter button {
        margin-left: 10px;
    }
    /*==========MAIN==========*/
    main {
        width: 95%;
        margin: 10px 2.5%;
        background-color: #0D1F2D;
    }
    
    #main-content h2 {
        text-align: center;
        font-variant: small-caps;
        text-shadow: 2px 2px 10px #000;
    }
    
    #main-content iframe.video {
    display: block;
    margin: 0 auto;
    width: 100%;
}
    
    main h2 span {
        font-size: 0.8em;
        font-variant: normal;
        color: #ff9000;
    }
    
    #main-content img {
    display: block;
    float: none;
    margin: auto;
    }
    
    main p {
        text-indent: 5%;
    }
    
    main, aside {
        box-shadow: 5px 5px 20px #000;
    }
    
    /*==========ASIDE==========*/
     aside {
        /*clear: both;*/
        height: auto;
    }
    
    #testimonials-header {
        font-size: 24px;
    }
    
    aside .testimonials {
        float: none;
        width: 95%;
        background-color: #0D1F2D;
        margin: 10px 0.5%;
        text-align: center;
        padding: 10px 2%;
        border-radius: none;
    }
    
    .testimonials:hover {
    background-color: #0D1F2D;
    color: #fff;
    }
    
    #testimonials div img {
        float: none;
        width: 300px;
        height: 230px;
        margin-right: 2%;
    }
    
    #testimonials div blockquote {
        padding-top: 20px;
    }
    
    blockquote + h4 {
        clear: both;
        text-align: right;
        padding-right: 5%;
    }
}