/*==========UNIVERSALS==========*/
* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Sahitya', serif;
    background-color: #546A7B;
    color: #fff;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #fff;
}

.current a{
    color: #ff9000;
}

li {
    list-style-type: none;
}

li:hover {
    background-color: #0D1F2D;
    box-shadow: 0px 5px 20px #000;
}

button {
    background-color: #fff;
    border: none;
    padding: 5px;
    color: #000;
}

/*==========HEADER==========*/
header {
    height: 45px;
    background-color: #546A7B;
}

#brand {
    float: left;
}

#brand h2 {
    font-family: 'Overpass Mono', monospace;
    padding: 4px;
}

nav {
    float: right;
}

nav > ul > li {
    margin: 0;
    display: inline-block;
    padding: 13.5px 15px;
    /*border-left: 3px solid #ff9000;*/
}

nav > ul > li:first-child {
    border-left: none;
}


/*==========HERO==========*/
#hero {
    height: 350px;
    border-top: 4px solid #ff9000;
    border-bottom: 4px solid #ff9000;
    background-image: url('../img/trackman_hero.jpg');
    background-position: center;
    background-size: cover;
}

#hero h1 {
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 65%;
    letter-spacing: 4px;
}
/*==========NEWSLETTER==========*/
#newsletter {
    height: 50px;
    background-color: #0D1F2D;
}

#newsletter h4{
    width: 60%;
    float: left;
    line-height: 28px;
    font-size: 24px;
    color: #ff9000;
    padding: 10px 20px;
}

#newsletter span {
    padding-left: 5%;
    font-size: 16px;
    color: #fff;
}

#newsletter form {
    width: 35%;
    float: right;
    padding: 10px 0;
}

#newsletter form input{
    border: 2px inset #000;
    width: 70%;
    line-height: 24px;
}

#newsletter button {
    margin-left: 10px;
}


/*==========MAIN==========*/
main {
    
}


/*==========ASIDE==========*/

aside .testimonials {
    float: left;
    width: 30%;
}

#testimonials div {
    background-color: #0D1F2D;
    margin: 1%;
    text-align: center;
    border-radius: 5% 5% 0 0;
    border: 4px outset #ff9000;
    border-bottom: none;
    padding-bottom: 10px;
}

#testimonials div img {
    width: 175px;
    height: 135px;
    border-radius: 5%;
    /*box-shadow: 5px 5px 5px #ff9000;*/
    margin-bottom: 10px;
}

#testimonials div blockquote {
    background-color: #0D1F2D;
    box-shadow: 2px 5px 25px #0D1F2D;
    text-align: justify;
    padding: 2%;
}

blockquote + h4 {
    font-size: 1.4em;
    font-family: 'Dancing Script', cursive;
}

/*==========FOOTER==========*/
footer {
    clear: both;
    height: 100px;
    background-color: #0D1F2D;
    border-top: 4px solid #ff9000;
}